{% extends 'userprofile/user_base.html' %}
{% load static %}
{% block main %}
<!-- Main Content -->
<div class="profile-main-content">
    <h2>Change Password</h2>
    <form class="profile-info">
        <div class="info-group">
            <label for="current-password">Current Password</label>
            <input type="password" id="current-password" name="current-password" required>
        </div>
        <div class="info-group">
            <label for="new-password">New Password</label>
            <input type="password" id="new-password" name="new-password" required>
        </div>
        <div class="info-group">
            <label for="confirm-password">Confirm New Password</label>
            <input type="password" id="confirm-password" name="confirm-password" required>
        </div>
        <div class="info-group">
            <button type="submit">Update Password</button>
        </div>
    </form>
</div>
</div>
{% endblock %}